/* ============================================= */
/*                 Element                       */
/* ============================================= */

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
//    font-family: 'Titillium Web', sans-serif;
}

body{
    margin: 2rem;
    position: relative;
}

.page-wrapper {
    background-color: $white;
}

h1 {
    margin-left: 1rem;
}

input {
    margin-left: auto;
    border: $color-primary-light solid 1px;
    border-radius: 5px;
    height: 80%;
    align-self: center;
    padding: 10px;
    margin-right: 1rem;
}

.avatar {
    border-radius: 50%;
    margin: 1rem;
}