/* ============================================= */
/*                 Variables                     */
/* ============================================= */

$white: #fff;
$color-primary: gray;
$color-primary-light: lightgray;